<div>
  <div>
    <h1>
      {{ title }}
    </h1>
  </div>
  Definiendo nuestros propios Custom Elements:
  <div>
    Comunidad:
    <select [(ngModel)]="comu">
      <option><app-comunidad id=1 text="Castilla y León"></app-comunidad></option>
      <option><app-comunidad id=2 text="Madrid"></app-comunidad></option>


    </select>


    Provincia:
    <select [(ngModel)]="prov">
      <option><app-comunidad id=3 idPadre=1 text="Avila"></app-comunidad></option>
      <option><app-comunidad id=4 text="Salamanca" idPadre=1></app-comunidad></option>
      <option><app-comunidad id=5 text="Madrid" idPadre=2></app-comunidad></option>

    </select>

  </div>
  Comunidad: {{comu}} <br>
  Provincia: {{prov}} <br>
  <button type="button">Get propiedades del CustomElement</button>
</div>
